<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>computerSpare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerInsert</display-name>
    <servlet-name>CustomerInsert</servlet-name>
    <servlet-class>computerSpare.CustomerInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerInsert</servlet-name>
    <url-pattern>/CustomerInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerInserts</display-name>
    <servlet-name>CustomerInserts</servlet-name>
    <servlet-class>computerSpare.CustomerInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerInserts</servlet-name>
    <url-pattern>/CustomerInserts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerInsertServlet</display-name>
    <servlet-name>CustomerInsertServlet</servlet-name>
    <servlet-class>computerSpare.CustomerInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerInsertServlet</servlet-name>
    <url-pattern>/CustomerInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomersServlet</display-name>
    <servlet-name>CustomersServlet</servlet-name>
    <servlet-class>computerSpare.CustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomersServlet</servlet-name>
    <url-pattern>/CustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>computerSpare.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>computerSpare.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>computerSpare.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>computerSpare.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarddetailsServlet</display-name>
    <servlet-name>CarddetailsServlet</servlet-name>
    <servlet-class>computerSpare.CarddetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarddetailsServlet</servlet-name>
    <url-pattern>/CarddetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardinsertServlet</display-name>
    <servlet-name>CardinsertServlet</servlet-name>
    <servlet-class>computerSpare.CardinsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardinsertServlet</servlet-name>
    <url-pattern>/CardinsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletecardServlet</display-name>
    <servlet-name>DeletecardServlet</servlet-name>
    <servlet-class>computerSpare.DeletecardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletecardServlet</servlet-name>
    <url-pattern>/DeletecardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatecardServlet</display-name>
    <servlet-name>UpdatecardServlet</servlet-name>
    <servlet-class>computerSpare.UpdatecardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatecardServlet</servlet-name>
    <url-pattern>/UpdatecardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerBookingServlet</display-name>
    <servlet-name>CustomerBookingServlet</servlet-name>
    <servlet-class>computerSpare.CustomerBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBookingServlet</servlet-name>
    <url-pattern>/CustomerBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingDetailsServlet</display-name>
    <servlet-name>BookingDetailsServlet</servlet-name>
    <servlet-class>computerSpare.BookingDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingDetailsServlet</servlet-name>
    <url-pattern>/BookingDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookingServlet</display-name>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <servlet-class>computerSpare.DeleteBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <url-pattern>/DeleteBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookingServlet</display-name>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <servlet-class>computerSpare.UpdateBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <url-pattern>/UpdateBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlets</display-name>
    <servlet-name>FeedbackServlets</servlet-name>
    <servlet-class>FeedbackServlet.FeedbackServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlets</servlet-name>
    <url-pattern>/FeedbackServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackdetailsServlet</display-name>
    <servlet-name>FeedbackdetailsServlet</servlet-name>
    <servlet-class>computerSpare.FeedbackdetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackdetailsServlet</servlet-name>
    <url-pattern>/FeedbackdetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerFeedbackServlet</display-name>
    <servlet-name>CustomerFeedbackServlet</servlet-name>
    <servlet-class>computerSpare.CustomerFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerFeedbackServlet</servlet-name>
    <url-pattern>/CustomerFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFeedbackServlet</display-name>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <servlet-class>computerSpare.DeleteFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <url-pattern>/DeleteFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFeedbackServlet</display-name>
    <servlet-name>UpdateFeedbackServlet</servlet-name>
    <servlet-class>computerSpare.UpdateFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFeedbackServlet</servlet-name>
    <url-pattern>/UpdateFeedbackServlet</url-pattern>
  </servlet-mapping>
</web-app>